
html body {
    height: 100%;
    font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif !important;

}

body {
    /*padding-top: 3rem;*/
    padding-bottom: 3rem;
    color: #5a5a5a;
}

main{
    padding-top: 5rem;
}


header{
    width: 100%;
    background:rgba(255,255,255,1);

}

.logo{
    background: url("web_slices/logo.png") no-repeat;
}


.navbar-toggler{
    background: url("web_slices/caule.png") no-repeat;
    padding: 0;
    line-height: 1;
    border-radius: 0;
}
.fixed2{
    position: fixed;
    z-index: 10010;
    width: 100%;
    background: #fff;
}
.bg{
    background: url("web_slices/zu.png") no-repeat;
    width: 100%;
    background-size: cover;
    height: 500px;
}
.tip{
    width:4px;
    height:14px;
    background:rgba(52,196,106,1);
    display: inline-block;
}
.tip-title{
    width:64px;
    height:16px;
    font-size:16px;
    font-family:PingFangSC-Medium;
    font-weight:500;
    color:rgba(17,17,17,1);
    line-height:24px;
}
.tip-item{
    width:98px;
    height:14px;
    font-size:14px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:24px;
}
.pr-18{
    padding-right: 18px;
}.pr-24{
     padding-right: 24px;
 }
.carousel-bg{
    background: #102238 !important;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1200px !important;
    }
}
.flex{
    display: flex;
    padding: 0;
}
.line{
    width: 94px;
    padding-top: 35px;
    position: relative;

    /*height:1px;*/
    /*background:rgba(52,196,106,1);*/
    /*align-items:center;!*垂直居中*!*/
    /*display: flex;*/
    /*justify-content: center;!*水平居中*!*/

}
.line-number{

    width:35px;
    height:26px;
    font-size:32px;
    font-family:Meiryo;
    font-weight:400;
    color:rgba(52,196,106,1);
    line-height:16px;
    margin: 0 auto;
    margin-bottom: 17px;
}

.line-line{
    width: 94px;
    height:1px;
    background:rgba(52,196,106,1);

}

.line-circle{
    width:14px;
    height:14px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(52, 196, 106, 1);
    /*box-shadow:0px 0px 0px rgba(0,0,0,0.07);*/
    border-radius:50%;
    position: absolute;
    z-index: 100;
    right: -7px;
    top: 70px;
}


.step{
    width:101px;
    height:104px;
    background:rgba(52,196,106,1);
    border:0px solid rgba(52, 196, 106, 1);
    box-shadow:0 1px 1px 1px rgba(0,0,0,0.07);
}


.margin-0{
    margin: 0;
}


.dividing-line{
    width:100%;
    height:1px;
    background:rgba(52,196,106,1);
    margin-top: 121px;
    margin-bottom: 39px;
}

.c4{
    /*width: 370px;*/
    /*height: 308px;*/
    background: rgba(255,255,255,1);
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.07);
    /*box-shadow: 0 2px 5px 1px rgba(0,0,0,0.09);;*/

    position: relative;
    padding-top: 65px;
    padding-left: 25px;
    padding-right: 25px;
}
.c4-radius{
    position: absolute;
    width:130px;
    height:130px;
    background:rgba(255,255,255,1);
    box-shadow:0 1px 1px 1px rgba(0,0,0,0.07);
    border-radius:50%;
    left: 125px;
    top: -65px;
}
.c4-name{
    padding-top: 35px;
    font-size:18px;
    font-family:PingFangSC-Medium;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:24px;
}
.c4-tip{
    font-size:13px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(136,136,136,1);
    line-height:24px;
}

.c4-desc{
    font-size:16px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(17,17,17,1);
    line-height:30px;
}
.c5{
     /*width:340px;*/
     /*height:380px;*/
     background:rgba(255,255,255,1);
     box-shadow:0 1px 1px 1px rgba(0,0,0,0.07);
}

.c5-name{
    padding-top: 35px;
    font-size:18px;
    font-family:PingFangSC-Medium;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:24px;
}
.c5-tip{
    font-size:20px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:24px;
}

.c5-desc{
    font-size:16px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(52,196,106,1);
    line-height:30px;
}
.c5-btn{
    /*width:138px;*/
    /*height:49px;*/
    background:rgba(52,196,106,1);
    margin: 0 auto;
    line-height: 49px;
    /*box-shadow:0px 0px NaNpx NaNpx rgba(0,0,0,0.1);*/
}

.box{
    width: 100%;
    padding-top: 89px;
}
.box-line{
    width:76px;
    height:3px;
    background:rgba(52,196,106,1);
    margin: 0 auto;
}
.box-name{

    font-size:36px;
    font-family:PingFangSC-Bold;
    font-weight:bold;
    color:rgba(17,17,17,1);
    line-height:23px;
    padding-bottom: 21px;
}

.box-tip{

    font-size:18px;
    font-family:PingFangSC-Bold;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:23px;
    padding-top: 24px;
}

.box-desc{
    font-size:12px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(119,119,119,1);
    line-height:23px;
}

.cl-name{
    font-size:32px;
    font-family:PingFangSC-Bold;
    font-weight:bold;
    color:rgba(255,255,255,1);
    line-height:23px;
    padding-top: 80px;
    padding-bottom: 27px;
}
.cl-tip{

    font-size:12px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(204,204,204,1);
    line-height:23px;
}
.mr-t{
    margin-top: 125px;
}


