
html body {
    height: 100%;
    font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif !important;

}


main{
    padding-top: 90px;
}

header{
    width: 100%;
    background:rgba(255,255,255,1);
    min-height: 90px;
    padding: 14px 15px!important;
}

footer{
    width: 100%;
    height:50px;
    font-size:14px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(255,255,255,1);
    margin: 0 auto;
    background: #102238;
    line-height: 50px;
    text-align: center;
    margin-top: 30px;
}

.j-c{
    justify-content: center;
}

.h-t{
    width: 150px;
    height: 17px;
    text-align: center;
    font-size:18px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    line-height: 17px;
    display: block;
    color:rgba(17,17,17,1);
    //margin-bottom: 10px;
}
.h-t-e{
    width: 150px;
    height:13px;
    text-align: center;
    font-size:16px;
    line-height: 13px;
    display: block;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(102,102,102,1);
}
.nav-item{
    width: 150px;
    text-align: center;
    margin: 0 auto;
    height: 50px;
}
.nav-link{
    padding: 0 !important;
}
.navbar{
    padding: 0.5rem 0;
}

.padding-zero{
    padding: 0;
}

.padding-20{
    padding: 0 20px;
}
.margin-0{
    margin: 0;
}
.margin-t-86{
    margin:  0 auto;
    margin-top: 86px;

}
.margin-b-57{
    margin-bottom: 57px;
}

.logo{
    background: url("web_slices/logo.png") no-repeat;
    width: 300px;
    height: 36px;
    background-size: contain;
}


.navbar-toggler{
    background: url("web_slices/caule.png") no-repeat;
    width: 35px;
    height: 26px;
    background-size: contain;
}
.fixed2{
    position: fixed;
    z-index: 10010;
    width: 100%;
    background: #fff;
}
.bg{
    //background: url("web_slices/zu.png") no-repeat;
    width: 100%;
    background-image: url("./web_slices/bg.png");
    /*min-width: 750px;*/
    background-size: 100% 100%;
    //background-position: 100% 100%;
    background-position: center center;
    //min-width: 1200px;
    height: 274px;
    .con{
        display: flex;
        padding-top: 49px;
        padding-bottom: 44px;
        .text{
            margin: 0 auto;
            //width: 312px;
            .item1{

                font-size:24px;
                //height: 24px;
                font-family:PingFangSC-Heavy;
                font-weight:800;
                color:rgba(255,255,255,1);
                line-height: 24px;

                padding-top: 20px;
            }
            .item2{
                //height:17px;
                font-size:18px;
                font-family:PingFangSC-Regular;
                font-weight:400;
                color:rgba(255,255,255,1);
                line-height:17px;
                margin-top: 22px;
                margin-bottom: 56px;
            }
            .bg-btn{
                display: flex;
                div{
                    width:81px;
                    height:28px;
                    border:1px solid rgba(52,196,106,1);
                    border-radius:4px;
                    color:rgba(52,196,106,1);
                    text-align: center;
                    //font-size: 14px;
                    line-height:28px;
                }
            }


        }
        .bg2{
            text-align: right;
            width: 202px;
            height: 181px;
            background-image: url("./web_slices/bg2.png");
            background-size: 100% 100%;
            background-position: center center;
            margin: 0 auto;
        }
    }

}
.bg2{
    background: #102238;
    width: 100%;
}
.info{
    overflow: hidden;
    margin-bottom: 16px;

}
.tip{
    width:4px;
    height:14px;
    background:rgba(52,196,106,1);
    display: inline-block;
    line-height: 14px;
    vertical-align: middle;
}
.tip-title{
    width:64px;
    height:16px;
    font-size:16px;
    font-family:PingFangSC-Medium;
    font-weight:500;
    color:rgba(17,17,17,1);
    line-height:16px;
    //display: inline-block;
    vertical-align: middle;
}
.tip-item{
    width:98px;
    height:14px;
    font-size:14px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:14px;
    vertical-align: middle;
}
.phone{
    background: url("./web_slices/phone.png") no-repeat;
    background-size: cover;
    width: 15px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
}.emil{
    background: url("./web_slices/email.png") no-repeat;
    background-size: cover;
    width: 20px;
    height: 12px;
    display: inline-block;
     vertical-align: middle;
}.addr{
    background: url("./web_slices/addr.png") no-repeat;
    background-size: cover;
    width: 15px;
    height: 18px;
    display: inline-block;
      vertical-align: middle;
}
.pr-18{
    padding-right: 13px;
}.pr-24{
     padding-right: 20px;
 }
.carousel-bg{
    background: #102238 !important;
}

.flex{
    display: flex;
}
.line{
    width: 92px;
    padding-top: 35px;
    position: relative;
    .line-number{

        width:35px;
        height:26px;
        font-size:32px;
        font-family:Meiryo;
        font-weight:400;
        color:rgba(52,196,106,1);
        line-height:16px;
        margin: 0 auto;
        margin-bottom: 17px;
    }

    .line-line{
        width: 100%;
        height:1px;
        background:rgba(52,196,106,1);

    }

    .line-circle{
        width:14px;
        height:14px;
        background:rgba(255,255,255,1);
        border:1px solid rgba(52, 196, 106, 1);
        /*box-shadow:0px 0px 0px rgba(0,0,0,0.07);*/
        border-radius:50%;
        position: absolute;
        z-index: 100;
        right: -7px;
        top: 70px;
    }

}



.step{
    width:101px;
    height:104px;
    background:rgba(52,196,106,1);
    border:1px solid rgba(52, 196, 106, 1);
    box-shadow:0px 5px 7px 0px rgba(0, 0, 0, 0.07);
    .bg{
        width:36px;
        height:36px;


        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 14px;
    }
    .bg{
        background: url("./web_slices/step1.png") no-repeat;
        background-size: cover;
    }
    .bg2{
        background: url("./web_slices/step2.png") no-repeat;
        background-size: cover;
    }.bg3{
        background: url("./web_slices/step3.png") no-repeat;
             background-size: cover;
    }.bg4{
        background: url("./web_slices/step4.png") no-repeat;
                  background-size: cover;
    }.bg5{
        background: url("./web_slices/step5.png") no-repeat;
                       background-size: cover;
    }.bg6{
        background: url("./web_slices/step6.png") no-repeat;
                            background-size: cover;
    }

    .text{
        height:17px;
        font-size:18px;
        font-family:PingFangSC-Medium;
        font-weight:500;
        color:rgba(255,255,255,1);
        line-height:16px;
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
}




.dividing-line{
    width:100%;
    height:1px;
    background:rgba(52,196,106,1);
    margin-bottom: 44px;
}

.c4{
    width:213px;
    height:177px;
    background:rgba(255,255,255,1);
    box-shadow:0px 1px 1px 2px rgba(0, 0, 0, 0.07);
    margin: 0 auto;
    position: relative;
    padding: 0 13px;
    margin-top: 35px;
}
.c4-radius{
    position: absolute;
    left: 70px;
    top: -37px;
    width:75px;
    height:75px;
    background:rgba(255,255,255,1);
    box-shadow:0px 1px 1px 2px rgba(0, 0, 0, 0.07);
    border-radius:50%;
    .bg{
        width: 40px;
        height: 40px;
        margin: 0 auto;
        margin-top: 17px;
    }
    .bg1{
        background: url("./web_slices/step-3.png") no-repeat;
        background-size: contain;
    }.bg2{
        background: url("./web_slices/step-2.png") no-repeat;
             background-size: contain;
    }.bg3{
        background: url("./web_slices/step-1.png") no-repeat;
                  background-size: contain;
    }
}
.c4-name{
    padding-top: 55px;
    font-size:14px;
    font-family:PingFangSC-Medium;
    font-weight:500;
    color:rgba(0,0,0,1);
    line-height:14px;
}
.c4-tip{
    font-size:7px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(136,136,136,1);
    line-height:14px;
    margin-top: 9px;
    margin-bottom: 14px;
}

.c4-desc{
    font-size:12px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(17,17,17,1);
    line-height:20px;
}
.c5{

    width: 317px;
    //height: 354px;
    background:rgba(255,255,255,1);
    box-shadow:0px 1px 7px 1px rgba(0, 0, 0, 0.07);
    margin: 0 auto;

}
.col-55{
    //display: flex;
    //flex-direction: row;
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
}
.c5-con{
    padding-top: 35px;
    padding-left: 34px;
    padding-right: 34px;
}
.c6{
    //width: 302px;
    float: left;
    height: 170px;
    box-sizing: border-box;
    margin: 0 auto;
    width: 50%;
    //box-shadow:0px 1px 7px 1px rgba(0, 0, 0, 0.07);
    &:first-child{
        margin-bottom: 40px;
    }
    .t{
        width: 317px;
        font-size:24px;
        font-family:PingFangSC-Medium;
        font-weight:500;
        color:rgba(255,255,255,1);
        line-height:30px;
        height: 44px;
        text-align: center;
        line-height: 44px;
        background:rgba(52,196,106,1);
        margin: 0 auto;
        box-shadow:0px 1px 7px 1px rgba(0, 0, 0, 0.07);
    }
    .con{
        width: 317px;
        margin: 0 auto;
        box-shadow:0px 1px 7px 1px rgba(0, 0, 0, 0.07);
        height: 127px;
        .item{
            .item-img{
                background: url("./web_slices/checked.png") no-repeat;
                background-size: contain;
                width: 26px;
                height: 26px;
                text-align: right;
                display: inline-block;
                vertical-align: middle;
                margin-left: 10px;
                padding-right: 10px;
            }
            float: left;
            width: 145px;
            padding-top: 24px;
            font-size:16px;
            font-family:PingFangSC-Regular;
            font-weight:400;
            color:rgba(17,17,17,1);
            box-sizing: border-box;
        }
    }
}

.c5-img{
    width:51px;
    height:51px;
    background: url("./web_slices/zhineng.png") no-repeat;
    background-size: cover;
    margin: 0 auto;
}
.c5-tip{
    font-size:19px;
    font-family:PingFangSC-Medium;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:23px;
    margin-top: 22px;
    margin-bottom: 40px;
}

.c5-desc{
    font-size:15px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:#333333;
    line-height:28px;
    span{
        color: #34C46A;
    }
    a{
        color: #34C46A;
        text-decoration: underline;
    }
}
.c5-btn{
    width:129px;
    height:46px;
    background:rgba(52,196,106,1);
    box-shadow:3px 4px 7px 0px rgba(0, 0, 0, 0.1);
    line-height: 46px;
    text-align: center;
    margin: 0 auto;
    font-size:13px;
    font-family:PingFangSC-Medium;
    font-weight:500;
    color:rgba(255,255,255,1);
    margin-top: 40px;
    margin-bottom: 30px;

}

.box2{
    width: 100%;
    margin-top: 84px;
    margin-bottom: 147px;
    display: flex;
    overflow: hidden;
    .left{
        //float: left;
        width: 226px;
        height: 174px;
        margin-right: 30px;
        //border: 1px solid red;
    }
    .right{
        //float: left;
        width: 420px;

        .box-line2{
            width:70px;
            height:3px;
            background:rgba(52,196,106,1);
        }

        .box-name2{
            font-size:24px;
            font-family:Adobe Heiti Std R;
            font-weight:normal;
            color:rgba(255,255,255,1);
            line-height:24px;
            margin-bottom: 13px;
            margin-top: 15px;

        }
        .box-tip2{
            font-size:18px;
            font-family:PingFangSC-Medium;
            font-weight:500;
            color:rgba(255,255,255,1);
            line-height:30px;
            margin-top: 20px;
        }

    }
}.box{
    width: 100%;
    margin-top: 45px;
    margin-bottom: 42px;
}
.box-line{
    width:70px;
    height:3px;
    background:rgba(52,196,106,1);
    margin: 0 auto;
}

.box-name{
    font-size:24px;
    font-family:PingFangSC-Bold;
    font-weight:bold;
    color:rgba(17,17,17,1);
    line-height:21px;
    padding-bottom: 14px;

}


.box-tip{
    font-size:16px;
    font-family:PingFangSC-Bold;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:21px;
    padding-top: 21px;
    padding-bottom: 12px;
}

.box-desc{
    font-size:10px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(119,119,119,1);
    line-height:21px;
}

.cl-name{
    font-size:24px;
    font-family:PingFangSC-Bold;
    font-weight:bold;
    color:rgba(255,255,255,1);
    line-height:23px;
    padding-top: 75px;
    padding-bottom: 27px;
}
.cl-tip{

    font-size:12px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(204,204,204,1);
    line-height:23px;
}
.mr-t{
    margin-top: 125px;
}
.carousel-control-prev{
    opacity: 0;
}
.carousel-control-next{
    opacity: 0;
}



@media (min-width: 768px) {
    header{
        width: 100%;
        background:rgba(255,255,255,1);
        min-height: 100px;
        padding: 16px 20px!important;
    }
    main{
        padding-top: 100px;
    }

    .bg{
        //background: url("web_slices/zu.png") no-repeat;
        width: 100%;
        background-image: url("./web_slices/bg.png");
        /*min-width: 750px;*/
        background-size: 100% 100%;
        //background-position: 100% 100%;
        background-position: center center;
        //min-width: 1200px;
        height: 500px;
        .con{
            display: flex;
            padding-top: 86px;
            padding-bottom: 80px;
            .text{
                margin: 0 auto;
                width: 628px;
                .item1{

                    font-size:24px;
                    //height: 24px;
                    font-family:PingFangSC-Heavy;
                    font-weight:800;
                    color:rgba(255,255,255,1);
                    line-height: 24px;
                    padding-top: 36px;
                }
                .item2{
                    //height:17px;
                    font-size:18px;
                    font-family:PingFangSC-Regular;
                    font-weight:400;
                    color:rgba(255,255,255,1);
                    line-height:17px;
                    margin-top: 46px;
                    margin-bottom: 101px;
                }
                .bg-btn{
                    display: flex;
                    div{
                        width:150px;
                        height:52px;
                        border:1px solid rgba(52,196,106,1);
                        border-radius:4px;
                        font-size:22px;
                        //font-size: 14px;
                        line-height:52px;
                    }
                }


            }
            .bg2{
                width: 374px;
                height: 330px;
                background-image: url("./web_slices/bg2.png");
                background-size: 100% 100%;
                background-position: center center;
                margin: 0 auto;
            }
        }

    }
    .col-55{
        display: flex;
        flex-direction: column;
        width: auto;
        margin-top: 0;
    }
    .c5{
        width:340px;
        //height:379px;
    }
    .c6{
        width: 317px;
        box-shadow:0px 1px 7px 1px rgba(0, 0, 0, 0.07);
        //border: 1px solid rgba(0, 0, 0, 0.07);
        .con{
            box-shadow: none;
        }
    }
    .carousel-control-prev{
        opacity: 1;
    }.carousel-control-next{
        opacity: 1;
    }
    .bg2{
        margin-top: 20px;
    }
    .box2{
        //padding-left: 300px;
        display: flex;
        justify-content: center;
        .left{
            width: 316px;
            height: 260px;
        }
        .right{
            width: 591px;
        }
    }
    .c4{
        width:270px;
        height:220px;
        //background:rgba(255,255,255,1);
        //box-shadow:0px 1px 1px 2px rgba(0, 0, 0, 0.07);
        //margin: 0 auto;
        //position: relative;
        //padding: 0 13px;
        //margin-top: 35px;
    }
    .c4-radius{
        left: 100px;
    }
    .h-t{
        margin-bottom: 10px;
    }
    .j-c{
      justify-content: left;
    }
}


@media (min-width: 1300px) {
  .container {
    max-width: 1200px;
  }
}
