<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">

    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>亿修哥</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="./bootstrap/index.css" >

    <!-- Custom styles for this template -->

    <style type="text/css"></style>

</head>
<body>

<div class="fixed2">
    <header class="container padding-zero">
        <nav class="navbar navbar-expand-md">
            <a class="navbar-brand" href="#">
               <div class="logo"></div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <div><span class="h-t">首页</span>
                                <span class="h-t-e">Index</span></div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <div><span class="h-t">管理工作</span>
                                <span class="h-t-e">Manager work</span></div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <div><span class="h-t">客户案例</span>
                                <span class="h-t-e">Client case</span></div>
                        </a>    
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</div>


  <main role="main">

      <div class="bg">
          <div class="con container padding-20">
              <div class="text">
                  <div class="item1">
                      安防、智能化及IOT服务平台
                  </div>
                  <div class="item2">安装维修维护 以匠心筑服务</div>
                  <div class="bg-btn">
                      <div>加入我们</div>
                  </div>
              </div>
              <div class="bg2"></div>
          </div>
      </div>
      <div class="box">
          <div class="mx-auto text-center">
              <div class="box-name">服务模式</div>
              <div class="box-line"></div>
              <div class="box-tip">安防、智能化及iot技术服务就找亿修哥</div>
              <div class="box-desc">Security and IOT product services will be found at yxiuge tecnology company.</div>
          </div>
      </div>



      <!--<div class="mx-auto text-center">-->
          <!--<div>服务模式</div>-->
          <!--<div>安防、智能化及iot技术服务就找亿修哥</div>-->
          <!--<div>Security and IOT product services will be found at yxiuge tecnology company.</div>-->
      <!--</div>-->

      <div class="container padding-zero">
          <div class="row margin-0">
              <!--<div class="col-4 padding-zero">-->
                  <div class="c5">
                      <div class="mx-auto text-center c5-con">
                          <div class="c5-img"></div>
                          <div class="c5-tip">智能服务</div>
                          <div class="c5-desc">
                              <span>下单</span>文字/语音/视频 <br>
                              <span>派单</span>2分钟响应1小时达到 <br>
                              <a href="">服务报道</a>
                              <a href="">服务帐单</a>


                          </div>
                          <div class="c5-btn">查看服务案例</div>
                      </div>

                  </div>
              <!--</div>-->
              <!--<div class="col-4 padding-zero">-->
                  <div class="c5">
                      <div class="mx-auto text-center c5-con">
                          <div class="c5-img"></div>
                          <div class="c5-tip">智慧用工</div>
                          <div class="c5-desc">
                              <span>数据分析</span>智能匹配、海量选择 <br>
                              <span>工作生活</span>找工作、计工时、发工资、职业技能培训、带徒授课
                          </div>
                          <div class="c5-btn">查看服务案例</div>
                      </div>

                  </div>
              <!--</div>-->
              <div class="col-55">
                  <div class="c6">
                      <div class="t">
                          四大服务对象
                      </div>
                      <div class="con">
                          <div class="item">
                              <span class="item-img"></span>
                              <span>智能设备厂商</span>
                          </div><div class="item">
                            <span class="item-img"></span>
                              <span>服务商</span>
                          </div><div class="item">
                            <span class="item-img"></span>
                              <span>企业客户</span>
                          </div><div class="item">
                            <span class="item-img"></span>
                              <span>工程师</span>
                          </div>
                      </div>
                  </div>
                  <div class="c6">
                      <div class="t">
                          提供四大类服务
                      </div>
                      <div class="con">
                          <div class="item">
                              <span class="item-img"></span>
                              <span>安装调试</span>
                          </div><div class="item">
                            <span class="item-img"></span>
                              <span>故障维修</span>
                          </div><div class="item">
                            <span class="item-img"></span>
                              <span>售后维护</span>
                          </div><div class="item">
                            <span class="item-img"></span>
                              <span>技能培训</span>
                          </div>
                      </div>
                  </div>
              </div>
              <!--<div class="col-4 padding-zero">-->
                  <!--<div class="c5">-->
                      <!--<div class="mx-auto text-center">-->
                          <!--<div class="c5-img"></div>-->
                          <!--<div class="c5-tip">智慧用工</div>-->
                          <!--<div class="c5-desc">-->
                              <!--数据分析智能匹配、海量选择 工作生活找工作、计工时、发工资、职业技能培训、带徒授课-->
                          <!--</div>-->
                          <!--<div class="c5-btn">测试</div>-->
                      <!--</div>-->

                  <!--</div>-->
              <!--</div>-->
          </div>
      </div>

      <div class="bg2">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                  <div class="carousel-item active carousel-bg">
                      <div class="mx-auto text-center container">
                          <div class="cl-name">以匠心筑服务 为智慧中国助力</div>
                          <div class="cl-tip">Security and IOT product services will be found at yxiuge tecnology company.</div>
                      </div>
                      <div class="box2 container">
                          <div class="left">

                          </div>
                          <div class="right">
                              <div class="box-name2">技术服务 一应俱全</div>
                              <div class="box-line2"></div>
                              <div class="box-tip2">亿修哥平台是一个在安防、智能化及IOT领域，通过“互联网+智能服务+智慧用工”简称3i模式，为厂商、服务商、终端用户提供专业快速的维修服务为广大工程师提供技能学习、长期就业的平台。</div>
                          </div>
                      </div>
                  </div>
                  <!--<div class="carousel-item carousel-bg">-->
                      <!--<div class="mx-auto text-center">-->
                          <!--<div class="cl-name">以匠心筑服务 为智慧中国助力333</div>-->
                          <!--<div class="cl-tip">Security and IOT product services will be found at yxiuge tecnology company.</div>-->
                      <!--</div>-->
                      <!--<div class="box2">-->
                          <!--<div class="box-name2">技术服务 一应俱全</div>-->
                          <!--<div class="box-line2"></div>-->
                          <!--<div class="box-tip2">亿修哥平台是一个在安防、智能化及IOT领域，通过“互联网+智能服务+智慧用工”简称3i模式，为厂商、服务商、终端用户提供专业快速的维修服务为广大工程师提供技能学习、长期就业的平台。</div>-->
                      <!--</div>-->
                  <!--</div>-->
                  <!--<div class="carousel-item carousel-bg">-->
                      <!--<div class="mx-auto text-center">-->
                          <!--<div class="cl-name">以匠心筑服务 为智慧中国助力2222</div>-->
                          <!--<div class="cl-tip">Security and IOT product services will be found at yxiuge tecnology company.</div>-->
                      <!--</div>-->
                      <!--<div class="box2">-->
                          <!--<div class="box-name2">技术服务 一应俱全</div>-->
                          <!--<div class="box-line2"></div>-->
                          <!--<div class="box-tip2">亿修哥平台是一个在安防、智能化及IOT领域，通过“互联网+智能服务+智慧用工”简称3i模式，为厂商、服务商、终端用户提供专业快速的维修服务为广大工程师提供技能学习、长期就业的平台。</div>-->
                      <!--</div>-->
                  <!--</div>-->
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
              </a>
          </div>
      </div>


      <div class="box">
          <div class="mx-auto text-center">
              <div class="box-name">我们的优势</div>
              <div class="box-line"></div>
              <div class="box-tip">安防、智能化及iot技术服务就找亿修哥</div>
              <div class="box-desc">Security and IOT product services will be found at yxiuge tecnology company.</div>
          </div>
      </div>





    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container padding-20">

      <!-- Three columns of text below the carousel -->
      <div class="row margin-0">
            <div class="c4">
                <div class="c4-radius">
                    <div class="bg bg1"></div>
                </div>
                <div class="mx-auto text-center">
                    <div class="c4-name">行业积累资源雄厚</div>
                    <div class="c4-tip">Industry accumulates abundant resources</div>
                </div>
                <div class="c4-desc">20多年安防领域集成服务经验，平台共储备10,000+工程师、1000门培训课程，10000+技能知识文库</div>
            </div>

            <div class="c4">
                <div class="c4-radius">
                    <div class="bg bg2"></div>
                </div>
                <div class="mx-auto text-center">
                    <div class="c4-name">匠工实名认证 资质核查</div>
                    <div class="c4-tip">Authentication qualification audit</div>
                </div>
                <div class="c4-desc">技能证书真实可查，星级考评一目了然服务质量高效可控</div>
            </div>

            <div class="c4">
                <div class="c4-radius">
                    <div class="bg bg3"></div>
                </div>
                <div class="mx-auto text-center">
                    <div class="c4-name">城市合伙人 资源共享</div>
                    <div class="c4-tip">Urban partner resources sharing</div>
                </div>
                <div class="c4-desc">严格的审核加入标准，快速响应，提供本地化服务</div>
            </div>

      </div>



      <div class="row margin-0 margin-t-86 j-c">
            <div class="flex margin-b-57">
                <div class="line">
                    <div class="line-number">01</div>
                    <div class="line-line"></div>
                    <div class="line-circle"></div>
                </div>
                <div class="step">
                    <div class="bg bg1"></div>
                    <div class="text">注册</div>
                </div>
            </div><div class="flex margin-b-57">
            <div class="line">
                <div class="line-number">02</div>
                <div class="line-line"></div>
                <div class="line-circle"></div>
            </div>
            <div class="step">
                <div class="bg bg2"></div>
                <div class="text">派单</div>
            </div>
        </div><div class="flex margin-b-57">
            <div class="line">
                <div class="line-number">03</div>
                <div class="line-line"></div>
                <div class="line-circle"></div>
            </div>
            <div class="step">
                <div class="bg bg3"></div>
                <div class="text">接单</div>
            </div>
        </div><div class="flex margin-b-57">
            <div class="line">
                <div class="line-number">04</div>
                <div class="line-line"></div>
                <div class="line-circle"></div>
            </div>
            <div class="step">
                <div class="bg bg4"></div>
                <div class="text">维修</div>
            </div>
        </div><div class="flex margin-b-57">
            <div class="line">
                <div class="line-number">05</div>
                <div class="line-line"></div>
                <div class="line-circle"></div>
            </div>
            <div class="step">
                <div class="bg bg5"></div>
                <div class="text">评价</div>
            </div>
        </div><div class="flex margin-b-57">
            <div class="line">
                <div class="line-number">06</div>
                <div class="line-line"></div>
                <div class="line-circle"></div>
            </div>
            <div class="step">
                <div class="bg bg6"></div>
                <div class="text">结算</div>
            </div>
        </div>

      </div>
    </div>

    <div class="container padding-20">
        <div class="dividing-line"></div>

        <div class="info">
            <div class="float-left pr-18">
                <span class="tip"></span>
                <span class="tip-title">友情链接</span>
            </div>
            <div class="float-left">
                <span class="tip-item pr-24">亿修服务商系统</span>
                <span class="tip-item pr-24">亿修客户系统</span>
                <span class="tip-item pr-24">亿修工程师系统</span>
            </div>
        </div>
        <div class="info">
            <div class="float-left pr-18">
                <span class="tip"></span>
                <span class="tip-title">联系我们</span>
            </div>
            <div class="float-left">
                <div>
                    <span class="phone"></span>
                    <span class="tip-item">
                        <a href="tel:13828172679">0571-28284116</a>
                    </span>
                </div>
                <div>
                    <span class="emil"></span>
                    <span class="tip-item">yxg@yxiuge.com</span>
                </div>
                <div>
                    <span class="addr"></span>
                    <span class="tip-item">浙江省杭州市西湖区数源软件园17幢302室</span>
                </div>
            </div>
        </div>
      <!--<p class="float-right"><a href="#">Back to top</a></p>-->
        <!---->
      <!--<p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>-->
    </div>
      <footer class="padding-20">
          <div>Copyright ©2018-2022 浙ICP备10011451号-6</div>
      </footer>
  </main>

    <!--<script src="./index.js"></script>-->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./jquery.js"></script>
    <script src="./popper.js" ></script>
    <script src="./bootstrap/index.js" ></script>

</body>
</html>
